
<div id="map"></div>
  
<script async
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API_KEY"]%>&callback=initMap&v=weekly">
</script>

<div class="container pt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-4 pb-4">
    <h3>Propietario:</h3>
    </div>
    <div class="col-4">
       <h3><%=@tree.owner%></h3>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-4 pb-4">
    <h3>Nombre:</h3>
    </div>
    <div class="col-4">
       <h3><%=@tree.tree_type%></h3>
    </div>
  </div>
  
    <div class="col-12 d-flex justify-content-center">
      <h3>Caracteristicas</h3>
    </div>
    <div class="col-12 d-flex sm-justify-content-center pt-3">
       <h4><%=@tree.features%></h4>
    </div>
</div>

<div class="container pt-4">
<div class="row">
<div class="col-10">
  <%= link_to 'Atras', choice_view_path(code: @tree.code), class: 'btn btn-outline-success' %>
</div>
<div class="col-2">
  <%= link_to 'Insertar otro código', root_path,code:"", class: 'btn btn-outline-success' %>
</div>


